/*
Cabeçalho
*/
header {
  background-color: #a00000;
  color: white;
  text-align: center;
}

/*
Conteudo em si
*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Alinha os elementos à esquerda */
}

.cards {
  position: relative;
  overflow: hidden;
  max-width: 250px;
  margin-right: 20px; /* Espaçamento entre os resultados da pesquisa */
  margin-bottom: 20px; /* Espaçamento entre as linhas de resultados */
  padding: 10px;
}

.cards .cards-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cards:hover .cards-name {
  opacity: 1;
}

.gallery img {
  width: 100%;
  height: auto;
}

.content {
  flex: 1 0 auto;
  padding:10px
}



/* rodape */

html, body {
  height: 100%;
  background-color: #333;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}
footer {
  background-color: #a00000;
  color: white;
  padding: 10px;
  text-align: center;
  flex-shrink: 0;
}