/*
Cabeçalho
*/
header {
  background-color: #660000;
  color: white;
  text-align: center;
}

/*
Conteudo em si
*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Alinha os elementos à esquerda */
}

.cards {
  position: relative;
  overflow: hidden;
  max-width: 250px;
  margin-right: 20px; /* Espaçamento entre os resultados da pesquisa */
  margin-bottom: 20px; /* Espaçamento entre as linhas de resultados */
  padding: 10px;
}

.cards .cards-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cards:hover .cards-name {
  opacity: 1;
}

.gallery img {
  width: 100%;
  height: auto;
}

.content {
  flex: 1 0 auto;
  padding:10px
}


/* barra de paginas dentro site */
nav {
  background-color: #660000;
  padding: 0px;
  box-shadow: 2px 1px 4px grey;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  display: inline;
  margin-right: -15px;
  flex-shrink: 0;
  min-width: 100px; /* Largura mínima do item */
  width: 15%; /* Ajuste a porcentagem ou use 'vw' para largura responsiva */
}

nav ul li:last-child {
  margin-right: 0;
}


nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

/* rodape */

html, body {
  height: 100%;
  background-color: #1e0401;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}
footer {
  background-color: #660000;
  color: white;
  padding: 10px;
  text-align: center;
  flex-shrink: 0;
}